@import "src/styles";

.todo {
  width: 100%;
  position: relative;

  .mat-card {
    min-height: 200px;
    box-sizing: border-box;
  }

  &.completed {

    .mat-card {
      background-color: $dark;
      color: $white;
    }
  }

  &-actions {
    position: absolute;
    top: 0;
    right: 15px;
  }
}
