@import "varaibles";

.link {
  cursor: pointer;
  color: $white;
  text-decoration: none;

  &:hover {
    color: rgba($white, .8);
  }

  &.active {
    color: $red;

    &:hover {
      color: rgba($red, .8);
    }
  }
}
