<div class="app-wrapper">
  <header class="app-header flex-center">
    <a class="link" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="link" routerLink="/todos" routerLinkActive="active">Todos</a>
  </header>
  <main class="app-main">
    <router-outlet></router-outlet>
  </main>
</div>
