<mat-card>
  <mat-card-content>
    <form [formGroup]="form" class="form">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
        <mat-error *ngIf="titleControl.errors">It's field required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea
          matInput
          formControlName="description"
          [cdkTextareaAutosize]="true"></textarea>
        <mat-error *ngIf="descriptionControl.errors">It's field required</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-button
      [disabled]="!isValid"
      (click)="onSubmit()"
    >
      Save
    </button>
  </mat-card-actions>
</mat-card>
