<div class="home flex-center column">
  <h1>Welcome to Application</h1>
  <p>
    <span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Accusantium at delectus dicta, dolorem ducimus eligendi facilis
      fugiat minus molestiae nemo perferendis possimus, quod ratione sequi,
      tempore! Libero quis reiciendis ut?
    </span>
  </p>
</div>
