@import "src/styles";

.todo-list {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: stretch;

  &__add {
    min-height: 200px;
    //max-width: 375px;
    width: 100%;
    flex: 1 0 auto;

    .mat-icon {
      transform: scale(3.5);
    }

    &-btn {
      width: 100%;
      height: 100%;
    }
  }

  .spinner-wrapper {
    grid-column: 1/4;
  }
}
